body{
font-family: Arial;
background:#f2f4f7;
text-align:center;
}

h1{
margin-top:40px;
}

.org{
margin-top:50px;
}

.level{
display:flex;
justify-content:center;
gap:40px;
margin:40px 0;
flex-wrap:wrap;
}

.box{
border:2px solid #1e3a8a;
background:white;
padding:15px;
width:240px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
font-size:14px;
}

.main{
background:#1e3a8a;
color:white;
font-weight:bold;
}
